<button class="btn btn-primary" (click)="showSI()">String Interpolation</button>
<button class="btn btn-primary" (click)="showPropertyBinding()">Property Binding</button>
<button class="btn btn-primary" (click)="showEventBinding()">Event Binding</button>
<button class="btn btn-primary" (click)="showTwoWayBinding()">Two Way Binding</button>
<div class="dashboard" >
	<div class="grid grid-pad" [hidden]="!showStringInterpolation">
			<h3>String Interpolation</h3>
		<div class="row">
			<div class="col-md-12">
				String Interpolation : Any typescript property value or expression that could be casted to string can be shown within the double curly braces
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				My name is <strong>{{myName}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				My age is <strong>{{myAge}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				My total marks is <strong>{{myMarks1 + myMarks2}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				Or even hard code a string <strong>{{ 'Hard Coded String' }}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<br><br><br>
		</div>
		<div class="row">
			<div class="col-md-6">
				Or call a typescript method like this <strong>{{ myMethod() }}</strong>
			</div>
			<div class="col-md-6">
				Or use a ternary expression like this <strong>{{ (Age > Marks) ? 'true': 'false' }}</strong>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				Things we cannot do in string interpolation are using,
				<ul><li>multiline expression</li> <li>block expression </li>
					<li>cannot add if/for control structures within string interpolation</li>
				</ul>
			</div>
		</div>
	</div>



<div class="grid grid-pad" [hidden]="!showPB">
			<h3>Property Binding</h3>
		<div class="row">
			<div class="col-md-12">
				Property Binding : Update the state or style of UI elements w.r.t the state of property in the component class
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">

				<button class="btn btn-primary" [disabled]="!canCreate"> Create </button>
				<button class="btn btn-primary" [disabled]="!canUpdate"> Update </button>

				<p><br><br>
				Or define a template expression<br>
				<button class="btn btn-primary" [disabled]="canDelete != 'true'"> Delete </button>
			</p>
			</div>
			<div class="col-md-3">
				<img [src]="imgSrc">
			</div>
			<div class="col-md-3">
				<img bind-src="imgSrc">
				or we can bind an image source like this..
			</div>
			<div class="col-md-3">
				<img src="{{imgSrc}}">
				or we can bind the src with string interpolation too..
			</div>
			<br><br><br>
		</div>

		<div class="row">
			<div class="col-md-3">
				<input type="text" [value]="textValue">
			</div>
			<div class="col-md-3">
				<input type="text" [value]="textValue.toUpperCase()">
				<input type="text" [value]="textValue.toLowerCase()">
				<br> and we can apply javascript string methods to typescript strings within the quotations
				refer to javascript string methods <a href="https://www.w3schools.com/js/js_string_methods.asp"> here </a>..
			</div>
			<div class="col-md-3">
				<a [href]="hrefValue" > Other HTML Attributes </a>
			</div>
			<div class="col-md-3">
				<p [style.background-color]="pStyle" bind-style.color="pFontStyle"> I am a paragraph. this is my content..</p>
			</div>
			<br><br><br>
		</div>
		<div class="row">
			<div class="col-md-6">
			</div>
		</div>
	</div>


<div class="grid grid-pad" [hidden]="!showEB">
			<h3>Event Binding</h3>
		<div class="row">
			<div class="col-md-12">
				String Interpolation : Any typescript property value or expression that could be casted to string can be shown within the double curly braces
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				My name is <strong>{{myName}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				My age is <strong>{{myAge}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				My total marks is <strong>{{myMarks1 + myMarks2}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				Or even hard code a string <strong>{{ 'Hard Coded String' }}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<br><br><br>
		</div>
		<div class="row">
			<div class="col-md-6">
				Or call a typescript method like this <strong>{{ myMethod() }}</strong>
			</div>
			<div class="col-md-6">
				Or use a ternary expression like this <strong>{{ (Age > Marks) ? 'true': 'false' }}</strong>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				Things we cannot do in string interpolation are using,
				<ul><li>multiline expression</li> <li>block expression </li>
					<li>cannot add if/for control structures within string interpolation</li>
				</ul>
			</div>
		</div>
	</div>	

<div class="grid grid-pad" [hidden]="!showTwoWay">
			<h3>Two Way</h3>
		<div class="row">
			<div class="col-md-12">
				String Interpolation : Any typescript property value or expression that could be casted to string can be shown within the double curly braces
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				My name is <strong>{{myName}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				My age is <strong>{{myAge}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				My total marks is <strong>{{myMarks1 + myMarks2}}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<div class="col-md-3">
				Or even hard code a string <strong>{{ 'Hard Coded String' }}</strong>.
				<br><br>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
			</div>
			<br><br><br>
		</div>
		<div class="row">
			<div class="col-md-6">
				Or call a typescript method like this <strong>{{ myMethod() }}</strong>
			</div>
			<div class="col-md-6">
				Or use a ternary expression like this <strong>{{ (Age > Marks) ? 'true': 'false' }}</strong>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				Things we cannot do in string interpolation are using,
				<ul><li>multiline expression</li> <li>block expression </li>
					<li>cannot add if/for control structures within string interpolation</li>
				</ul>
			</div>
		</div>
	</div>

<div [hidden]=true>
	<h3>Top Heroes</h3>


			<div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
				<div class="module hero">
					<h4>{{hero.name}}</h4>
				</div>
			</div>
		</div>
		<my-hero-search [hidden]=true></my-hero-search>
</div>
